html{
   scroll-behavior: smooth;
}
body{
   margin: 0;
   font-family: sans-serif;
   line-height: 1.4;
}
h1{
    justify-content: left;
    align-items: left;
    height: 600px;
}
.container{
   width: 80%;
   margin: 0 auto;
}
.section{
   height: 600px;
   margin: 50px 0;
}
.menu{
   position: fixed;
   right: 10px;
   top: 10px;
}

.menu__el--active a{
    color: red;
}