html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
    line-height: 150%;
    font-size: 18px;
    
    padding: 5%;
    
    /*to DELETE*/
    height: 3000px;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 1000px;
}
.menu{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    background-color: gray;

    transition: .3s ease-in-out;
}
.menu__list{
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 5%;
}
.menu__el{
    display: inline-block;
    list-style: none;

}
.menu--hide{
   transform: translateY(-100%);
}

/* 

.menu{
 
   transition: .3s linear;
}

 */
