html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
    line-height: 150%;
    font-size: 18px;
    
    padding: 5%;

}

.tab__content{
    display: none;
}

.tab__links{
    display: flex;
    list-style: none;
    margin: 0;
}

.tab__el{
    margin-right: 6%;
    background: red;
    padding-right: 2%;
    padding-left: 2%;
}

.tab__el--active{
    background: orange;
}

.tab__el:hover{
    background: orange;
}

.tab__content--active{
    display: block;
    background-color: orange;
    padding: 5px;
}
