html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
    line-height: 150%;
    font-size: 18px;
    
    padding: 5%;

}
.tab__wrapper{
    display: flex;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.tab__content{
    /* display: none; */
    background: orange;
    padding: 5%;
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
}

.tab__links{
    display: flex;
    list-style: none;
    margin: 0;
}

.tab__el{
    margin-right: 6%;
    background: red;
    padding-right: 2%;
    padding-left: 2%;
}

.tab__el--active{
    background: orange;
}

.tab__el:hover{
    background: orange;
}

