/* html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    margin: 0;
    line-height: 150%;
    font-size: 18px;
    
    padding: 0; */
    
    /*to DELETE*/
    /* height: 3000px;
}

h1{
    padding: 5%;
}
.dropdown{
    position: left;
    display: inline-block;
}
.dropdown__btn{
    display: flex;
    white-space: nowrap; 
    background-color: #008000;
    color: white;
    padding: 1vw;
    font-size: 16px;
    border: 2px solid transparent;
    cursor: pointer;
}
.dropdown__btn:hover{
    background-color: rgb(1, 109, 1);

}

.dropdown__content{    
    display: inline-flex;
    margin: 0;
    margin: 0;
}
.dropdown__el{
    list-style: none;
    padding: 0;
    margin: 0;
}
a:hover{
    background-color: rgb(250, 222, 186);
}

a{
    color: black;
    text-decoration: none;
    background-color: antiquewhite;
    padding: 1vw 2vw;
    display: flex;
}

.dropdown__content--show{
    display: inline-flex;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other  */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns*/
.row:after {
  content: "";
  display: table;
  clear: both;
} 